---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { config } from '@/constants';
import { shortenUrl } from '@/utils/shortenUrl';
import { he } from '@/utils/htmlEntities';
import type { LinksListItem } from '@/components/LinksList.astro';
import Link from '@/components/Link.astro';
import LinksList from '@/components/LinksList.astro';
import ArticlesList from '@/components/ArticlesList.astro';
import {
  ArticlesSortOrder,
  getSortedArticles,
} from '@/utils/getSortedArticles';

const title = 'Dmitrii Sviridov';
const description =
  'Personal blog of a front-end developer, ' +
  'who loves making high-performance web interfaces and ' +
  'helping others navigate the tech world.';

const MAX_LATEST_ARTICLES = 5;

const aboutSectionLinks: LinksListItem[] = [
  {
    href: config.links.telegram,
    label: shortenUrl(config.links.telegram),
    iconName: 'telegram',
    ariaLabel: 'Telegram',
    target: '_blank',
  },
  {
    href: `mailto:${config.email}`,
    label: config.email,
    iconName: 'email',
    ariaLabel: 'Email',
    target: '_blank',
  },
  {
    href: config.links.github,
    label: shortenUrl(config.links.github),
    iconName: 'github',
    ariaLabel: 'GitHub',
    target: '_blank',
  },
  {
    href: config.links.linkedin,
    label: shortenUrl(config.links.linkedin),
    iconName: 'linkedin',
    ariaLabel: 'LinkedIn',
    target: '_blank',
  },
];

const allArticles = getSortedArticles(
  await getCollection('articles'),
  ArticlesSortOrder.CREATED_ON,
);
const latestArticles = allArticles.slice(0, MAX_LATEST_ARTICLES);
---

<BaseLayout title={title} description={description}>
  <h1 class="visually-hidden">Dmitrii Sviridov</h1>
  <section class="about-section">
    <h2 class="about-section__greeting">Hey, I'm Dmitrii</h2>
    <p class="about-section__text">
      I’m a front-end developer based in Belgrade, Serbia. I love making
      high-performance web interfaces and helping others navigate the tech
      world. Outside of{he.nbsp}work, I enjoy playing video games and exploring
      new{he.nbsp}places.
    </p>
    <LinksList
      className="about-section__links-list"
      links={aboutSectionLinks}
    />
    <p class="about-section__buymeacoffee">
      You can also buy me a coffee by clicking
      <span class="about-section__buymeacoffee-no-break">
        <Link href={config.links.buymeacoffee} aria-label="Buy me a coffee">
          here</Link
        >
        <span>.</span>
      </span>
    </p>
  </section>
  <section class="articles-section">
    <div class="articles-section__header">
      <h2 class="articles-section__title">Latest Articles</h2>
      <Link href="/articles">View all</Link>
    </div>
    <ArticlesList articles={latestArticles} />
  </section>
</BaseLayout>

<style>
  .about-section {
    margin-bottom: 32px;

    @media (--tablet) {
      margin-bottom: 72px;
    }
  }

  .about-section__greeting {
    margin: 0;
    margin-bottom: 16px;
    font-family: var(--font-family-heading);
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;

    @media (--tablet) {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 18px;
    }
  }

  .about-section__text {
    margin: 0;
    margin-bottom: 16px;

    @media (--tablet) {
      margin-bottom: 18px;
    }
  }

  .about-section__links-list {
    margin-bottom: 16px;

    @media (--tablet) {
      margin-bottom: 18px;
    }
  }

  .about-section__buymeacoffee {
    margin: 0;
  }

  .about-section__buymeacoffee-no-break {
    white-space: nowrap;

    span:last-child {
      margin-left: -4px;
    }
  }

  .articles-section__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 16px;

    @media (--tablet) {
      margin-bottom: 18px;
    }
  }

  .articles-section__title {
    margin: 0;
    font-family: var(--font-family-heading);
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;

    @media (--tablet) {
      font-size: 30px;
      line-height: 36px;
    }
  }
</style>
