---
import type { ArticleFrontmatter } from 'src/types';
import { getFormattedDateString } from '@utils/getFormattedDateString';
import BaseLayout from './BaseLayout.astro';

interface Props {
  frontmatter: ArticleFrontmatter;
}

const { title, createdOn, updatedOn, tags } = Astro.props.frontmatter;

const formattedCreatedOn = getFormattedDateString(new Date(createdOn));
const formattedUpdatedOn =
  updatedOn && getFormattedDateString(new Date(updatedOn));
---

<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <time datetime={createdOn}>
      {formattedCreatedOn}
      {formattedUpdatedOn && <span>(updated on {formattedUpdatedOn})</span>}
    </time>
  </div>

  <slot />

  <div>
    {
      tags && (
        <ul>
          {tags.map((tag) => (
            <li>
              <a href={`/tags/${tag}`}>#{tag}</a>
            </li>
          ))}
        </ul>
      )
    }
  </div>
</BaseLayout>
